html {
  box-sizing: border-box;
  background: #CCC;
  min-height: 100vh;
}

body {
    min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-margin {
    margin: 0 !important;
}

