.package-page-title {
	text-align: center;
	padding-top: 50px;
}

.package-container {
	width: 80%;
	margin: 50px auto;
	background: #FFF;
	padding: 25px;
	border-radius: 25px;
	
	h2 {
		text-align: center;
	}
	
	img {
	/*	width: 100%;*/
		border-radius: 25px;
		max-height: 250px;
		float: left;
		padding-right: 25px;
	}
	
	.package-price {
		font-weight: bold;
		padding-top: 25px;
		color: @darker-green;
		font-size: 20px;
	}
	
	a {
		text-decoration: none;
		color: @darker-green;
		font-weight: bold;
	}
	
	li {
		display: inline-block;
		border: 2px solid @darker-green;
		border-radius: 5px;
		padding: 5px 5px;
		margin-left: 0;
		margin-right: 15px;
	}
	
 	ul {
		padding-left: 0px;
	}
}