@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  box-sizing: border-box;
  background: #CCC;
  min-height: 100vh;
  font-family: 'Lato', sans-serif !important;
}

body {
    min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-margin {
    margin: 0 !important;
}

.col-left {
	width: 50%;
	float: left;
}

.col-right {
	width: 50%;
	float: right;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}


